/* Code tidied up by ScrapBook */
#search_box { display: block; margin: 10px 0px; }
#search_box input { width: 180px; padding: 0px 10px; height: 28px; background-color: rgb(255, 255, 255); border: 1px solid rgb(187, 187, 187); color: rgb(51, 51, 51); text-transform: uppercase; font-weight: 700; font-size: 10px; }
